<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>Donghun Jung | Profile</title>
	<!-- font icons -->
	<link rel="stylesheet" href="static/assets/vendors/themify-icons/css/themify-icons.css">
	<!-- Bootstrap + JohnDoe main styles -->
	<link rel="stylesheet" href="static/assets/css/johndoe.css">
	<script src="https://code.iconify.design/iconify-icon/1.0.5/iconify-icon.min.js"></script>
	<script type="text/javascript" async="" src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.4/MathJax.js?config=TeX-MML-AM_CHTML"></script>
	<!-- Remember to include jQuery :) -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>
	
	<!-- jQuery Modal -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.js"></script>



  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

  <script src="https://cdn.anychart.com/releases/8.11.1/js/anychart-base.min.js" type="text/javascript"></script>
  <script src="https://cdn.anychart.com/releases/8.11.1/js/anychart-bundle.min.js"></script>
  <script src="https://cdn.anychart.com/releases/8.11.0/js/anychart-core.min.js"></script>
  <script src="https://cdn.anychart.com/releases/8.11.0/js/anychart-stock.min.js"></script>
  <script src="https://cdn.anychart.com/releases/8.11.0/js/anychart-data-adapter.min.js"></script>

  <script src="https://cdn.anychart.com/releases/8.11.0/js/anychart-ui.min.js"></script>
  <script src="https://cdn.anychart.com/releases/8.11.0/js/anychart-exports.min.js"></script>

  <link href="https://cdn.anychart.com/releases/8.11.0/css/anychart-ui.min.css" type="text/css" rel="stylesheet">
  <link href="https://cdn.anychart.com/releases/8.11.0/fonts/css/anychart-font.min.css" type="text/css" rel="stylesheet">


  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-csv/0.8.3/jquery.csv.min.js"></script>


  <script>
    $(document).ready(function(){
       
       $('#chart').load("static/stock_test.html");
    
    });
  </script>
</head>

<body data-spy="scroll" data-target=".navbar" data-offset="40" id="home">
	<!-- <a href="components.html" class="btn btn-primary btn-component" data-spy="affix" data-offset-top="600"><i class="ti-shift-left-alt"></i> Components</a> -->

	<header class="header">
		<div class="container">
			<ul class="social-icons pt-3">
				<li class="social-item"><a class="social-link text-light" href="https://github.com/Waterbird20/SWE3028_Team_H"><i
							class="ti-github" aria-hidden="true"></i></a></li>
			</ul>
			<div class="header-content">
				<h4 class="header-subtitle" style="text-indent: 1%;">Hello, This is </h4>
				<h2 class="header-title">Stock Price</h2>
				<!-- <h6 class="header-mono"><br></h6> -->
				<h2 class="header-title">Prediction System</h2>
				<!-- <h6 class="header-mono"><br></h6> -->
				<h2 calss="header-mono" style="text-indent: 1%;">Team H, SWE3028</h4>
			</div>
		</div>
	</header>
	<nav class="navbar sticky-top navbar-expand-lg navbar-light bg-white" data-spy="affix" data-offset-top="510">
		<div class="container">
			<button class="navbar-toggler ml-auto" type="button" data-toggle="collapse"
				data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
				aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse mt-sm-20 navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav mr-auto">
					<!-- <li class="nav-item">
						<a href="#home" class="nav-link">Home</a>
					</li>
					<li class="nav-item">
						<a href="#about" class="nav-link">About</a>
					</li> -->
				</ul>
				<ul class="navbar-nav brand">
					<img src="static/assets/imgs/stock-icon.png" alt="" class="brand-img">
					<li class="brand-txt">
						<h5 class="brand-title">Team H</h5>
						<div class="brand-subtitle">Donghun Jung, Chanyoung Lee, Yujin Seo</div>
					</li>
				</ul>
				<ul class="navbar-nav ml-auto">
					<!-- <li class="nav-item">
						<a href="#News" class="nav-link">News</a>
					</li>
					<li class="nav-item last-item">
						<a href="#contact" class="nav-link">Contact</a>
					</li> -->
				</ul>
			</div>
		</div>
	</nav>
	<div class="container-fluid">
		<div id="about" class="row about-section">
			<div class="col-lg-4 about-card">
				<h3 class="font-weight-light">Description</h3>
				<span class="line mb-5"></span>
				<h5 class="mb-3"></h5>
				<p class="para">
					Our model ...
				</p>
				<p class="para">
					We show that ...
				</p>

				<p class="para">
					We expect that ...
				</p>
				<button class="btn btn-outline-danger"><a href="./static/assets/files/Resume.pdf"
						download="./static/assets/files/Resume.pdf"><i class="icon-down-circled2 ">Download My
							Resume</i></a></button>
			</div>
			<div class="col-lg-4 about-card">
				<h3 class="font-weight-light">Our Model</h3>
				<span class="line mb-5"></span>
				<h6 class="mb-3"> LSTM</h6>
				{% comment %} <ul class="info">
					<li> Si Sample Spot Detection Method in Transmission Electron Microscopy</li>
				</ul> {% endcomment %}
				<p class="para">
					LSTM is ... 
				</p>
				<h6 class="mb-3"> GRU</h6>
				<p class="para">
					GRU is ... 
				</p>
				<h6 class="mb-3"> Transformer</h6>
				<p class="para">
					Transformer is ... 
				</p>

			</div>
			<div class="col-lg-4 about-card">
				<h3 class="font-weight-light">Our Model</h3>
				<span class="line mb-5"></span>
				<h6 class="mb-3"> LSTM</h6>
				{% comment %} <ul class="info">
					<li> Si Sample Spot Detection Method in Transmission Electron Microscopy</li>
				</ul> {% endcomment %}
				<p class="para">
					LSTM is ... 
				</p>
				<h6 class="mb-3"> GRU</h6>
				<p class="para">
					GRU is ... 
				</p>
				<h6 class="mb-3"> Transformer</h6>
				<p class="para">
					Transformer is ... 
				</p>

			</div>

		</div>
	</div>

	<section class="section" id="News">
		<div class="container">
			<h3 class="mb-5">Latest <span class="text-danger">News</span>
        <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example">
          <option value="A1">KODEX 200</option>
          <option value="A2">S&P 500</option>
        </select>
        
        <select class="form-select form-select-sm" aria-label=".form-select-sm example">
          <option value="KR1">Samsung Electronics Co Ltd</option>
          <option value="KR2">One</option>
          <option value="KR3">Two</option>
          <option value="KR4">Three</option>
        </select>
      </h3>

      <div class="row">
        <div id="chart" class="container" style="height:700px"></div>

			</div>
		</div>
	</section>


	<footer class="footer py-3">
		<div class="container">
			<p class="small mb-0 text-light"> 
			</p>
		</div>
	</footer>

	<!-- core  -->
	<script src="static/assets/vendors/jquery/jquery-3.4.1.js"></script>
	<script src="static/assets/vendors/bootstrap/bootstrap.bundle.js"></script>

	<!-- bootstrap 3 affix -->
	<script src="static/assets/vendors/bootstrap/bootstrap.affix.js"></script>

	<!-- Isotope  -->
	<script src="static/assets/vendors/isotope/isotope.pkgd.js"></script>

	<!-- JohnDoe js -->
	<script src="static/assets/js/johndoe.js"></script>



</body>

</html>